@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* GLOBAL TRANSITION FOR SMOOTH DARK MODE */
body {
  @apply transition-colors duration-300 ease-in-out;
}

/* Dark Mode Defaults */
html.dark body {
  background-color: #030712; /* Gray 950 - Very Dark */
  color: #f3f4f6; /* Gray 100 - Very Light Text */
}

/* Light Mode Defaults */
body {
  background-color: #f9fafb;
  color: #111827;
}